/* @layer theme, base, components, utilities;

@import "tailwindcss/theme" layer(theme) prefix(ms);
@import "tailwindcss/utilities" layer(utilities) prefix(ms); */

@import "tailwindcss/theme" prefix(ms);
@import "tailwindcss/utilities" prefix(ms);

@plugin "@tailwindcss/typography";

@source "./../../views/";
@source "./../../helpers/";
@source "./../../../lib/";

.marksmith,
.marksmith * {
  box-sizing: border-box;
}

.toggle-button {
  background-color: var(--ms-color-neutral-200);
  border: 1px solid var(--ms-color-neutral-300);
  border-bottom: none;
  border-radius: 0;
  transition: border-color 150ms ease-in-out;
}

.toggle-button.selected {
  background-color: var(--ms-color-white);
  border: 1px solid var(--ms-color-neutral-200);
  border-bottom: 1px solid var(--ms-color-white);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-top: -1px;
  margin-left: -1px;
  margin-bottom: -1px;
  margin-right: -1px;
  z-index: 2;
}

/* Add these new rules for the focus state */
.marksmith:focus-within .toggle-button.selected {
  border-color: var(--ms-color-neutral-400);
  border-bottom-color: var(--ms-color-white);
}

.ms\:button-spinner {
  width: 24px;
  height: 24px;

  position: relative;
}

.ms\:button-spinner > .double-bounce1,
.ms\:button-spinner > .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.ms\:button-spinner > .double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
